@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  border-radius: 5px;
  color: aliceblue;
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

/* ---|Menu|--- */
.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10%;
  width: 100%;
  color: aliceblue;
  font-weight: 500;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.menu-items ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90%;
  width: 90%;
}

.menu-items li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 8%;
  list-style-type: none;
  margin: 2px;
}

.menu-items li:hover {
  border: 0.1mm solid rgba(255, 255, 255, 0.9);
}

.menu-items button {
  font-size: large;
  height: 50%;
  width: 6%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0.1mm solid rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.menu-items button:hover {
  transform: scale(1.05);
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.9);
}

.menu-items button:hover a {
  color: black;
}

.menu-items a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
}

.menu-items .logout-button {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
}

.menu-items .logout-button:hover {
  transform: scale(1.05);
  font-weight: 600;
  background-color: rgba(255, 0, 0, 0.9);
}

.menu-items .login-button {
  background-color: rgba(0, 123, 255, 0.7);
  color: white;
}

.menu-items .login-button:hover {
  background-color: rgba(0, 123, 255, 0.9);
}

/* ---|Mobile-Menu|--- */

#btn-mobile {
  display: none;
}

/* ---|Mobile-Menu-Responsive|---*/
@media screen and (min-width:320px) and (max-width:768px) {
  #btn-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    background-color: rgba(0, 123, 255, 0.7);
    box-shadow: rgba(240, 255, 255, 0.3) 0px 0px 15px 5px;
    font-size: 1rem;
    cursor: pointer;
    gap: .5rem;
  }

  #btn-mobile:hover {
    box-shadow: rgba(240, 255, 255, 0.3) 0px 0px 15px 5px;
    font-size: 1rem;
  }

  #hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background: currentColor;
    transition: .4s;
    position: relative;
  }

  #nav-container.active #hamburger {
    border-top-color: transparent;
  }

  #nav-container.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav-container.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  #nav-container {
    justify-content: flex-end;
    margin-right: 20px;
  }

  #nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 0px;
    top: 10vh;
    margin: auto;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: .6s;
    z-index: 1000;
    overflow: hidden;
  }

  #nav-container.active #nav-list {
    height: calc(100vh - 10vh);
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: auto;
  }

  #nav-container.active #nav-list {
    display: flex;
  }

  .menu-items li {
    width: 25%;
    height: 5%;
  }
}

/* ---|Footer|--- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10%;
  min-width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 0.5%;
  bottom: 0;
}