@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  background-color: black;
}

/* -------------------------------------|Menu|------------------------------------- */
.menu_container {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 98vw;
  color: aliceblue;
  font-weight: 500;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
}

.menu_items {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

ul {
  display: flex;
  align-items: center;
  height: 90%;
  width: 90%;
  justify-content: space-evenly;
}

li {
  display: flex;
  align-items: center;
  height: 50%;
  width: 10%;
  list-style-type: none;
  justify-content: space-evenly;
}

li:hover {
  border: 0.1mm solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.menu_items button {
  font-size: large;
  height: 50%;
  width: 6%;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
  border: 0.1mm solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.menu_items button:hover {
  transform: scale(1.05);
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.9);
}

.menu_items button a:hover {
  color: black;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
}

/* -------------------------------------|Footer|------------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 98vw;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: aliceblue;
  font-weight: 500;
  margin: 0.5%;
}