/* -----------------------------------|Geral|----------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body,
main,
section,
form,
.btn-form {
  display: flex;
  align-items: center;
}

body,
main,
section,
form {
  flex-direction: column;
  justify-content: center;
}

form,
input,
.btn-form button {
  border: 0.01rem solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;

}

/* ------------------------------------------------------------------------------ */
body {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

/* main {
  height: 98vh;
  width: 98vw;
  background-image: linear-gradient(45deg, rgb(22, 139, 248), rgb(53, 53, 53));
  border-radius: 10px;
} */

section {

  height: 80%;
  width: 50%;
}

form {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}


h1,
label {
  color: aliceblue;
  margin: 1%;

}

h1 {
  margin-bottom: 10%;
}

.error {
  color: red;
  font-weight: bold;
}

input {
  height: 5%;
  width: 50%;
  border-radius: 3px;
}

.btn-form {
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  height: 8%;
  width: 100%;
  margin-top: 10%;
}

.btn-form button {
  color: aliceblue;
  font-size: large;
  height: 100%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

}

.btn-form button:hover {
  transform: scale(1.05);
  box-sizing: border-box;
  color: black;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.2);
}