.container-regiter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(45deg, rgb(22, 139, 248), rgb(53, 53, 53));
  border: 0.01rem solid rgba(255, 255, 255, 0.9);
}

.form-regiter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0.01rem solid rgba(255, 255, 255, 0.9);
  gap: 3%;
}

.error {
  color: red;
  font-weight: bold;
}

.form-regiter label {
  align-self: flex-start;
  margin-left: 5%;
  margin-bottom: 2px;
}

input {
  height: 8%;
  width: 90%;
  background: rgba(255, 255, 255, 0.1);
  font-size: 1rem;
  transition: all 0.3s ease;
  outline: none;
  color: black;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

input:focus {
  background: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.6);
  transform: translateY(-1px);
}

.btn-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  height: 8%;
  width: 100%;
  margin-top: 5%;
}

.btn-form button {
  height: 100%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, 0.3);
  font-size: large;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.btn-form button:hover {
  transform: scale(1.05);
  box-sizing: border-box;
  color: black;
  font-weight: 600;
  background-color: rgba(185, 7, 7, 0.7);
}

.btn-form button[type="submit"] {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-form button[type="submit"]:hover {
  background-color: rgba(7, 185, 80, 0.7);
}